<div class="navbar">
  <div class="container">
    <div class="dropdown">
      <button class="dropbtn">
        <i class="fa fa-bars"></i> Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#" routerLink="home" class="fa fa-bar-chart"> Análise</a>
        <a href="#" routerLink="moto-boy" class="fa fa-map-marker"> Entregas</a>
        <a href="#" routerLink="pagamentos" class="fa fa-check-circle-o"> Recebimentos</a>
      </div>
    </div>
    <div>
      <button type="button" class="btn">
        <i class="fa fa-bell-o"></i>
      </button>
      <button type="button" class="btn">
        <i class="fa fa-power-off"></i> Sair</button>
    </div>
  </div>
</div>
